.deleteAllButton {
  margin: 40px;
}

.deleteAllButton:hover {
  background-color: red;
}

.deleteButton {
  padding: 5px !important;

  &:hover {
    background-color: pink;
  }
}

.emptyExpressionsText {
  font-family: monospace;
  font-size: 20px !important;
  text-decoration: solid;
}

.expression {
  font-family: monospace !important;
  font-size: 20px !important;
  margin: auto 10px auto 0;
  padding: 20px;
}

.expressionButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.expressionContainer {
  border-radius: 20px;
  border: 3px solid rgba(224, 206, 206, 0.5);
  display: flex;
  height: auto;
  justify-content: space-between;
  margin: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.expressionsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.editButton {
  padding: 5px !important;

  &:hover {
    background-color: yellow;
  }
}

.titleBar {
  align-content: space-around;
  display: flex;
  flex-direction: row;
}

.titleText {
  font-family: monospace;
  font-size: 40px !important;
  margin: auto;
  text-align: center;
  text-decoration: solid;
}
