.deleteAllButton {
  margin: 40px;

  &:hover {
    background-color: red;
  }
}

.emptyExpressionsText {
  font-family: monospace;
  font-size: 20px !important;
  text-decoration: solid;
}

.expressionsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.titleBar {
  align-content: space-around;
  display: flex;
  flex-direction: row;
  height: 150px;
}

.titleText {
  font-family: monospace;
  font-size: 40px !important;
  margin: auto;
  text-align: center;
  text-decoration: solid;
}
